<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"> <!-- Set caracteres, ingles, ruso-->
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head> <!--Encabezado html, cualquier lenguaje-->
    <body> 
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a> 
                <ul class="nav-menu"> 
                    <li class="nav-menu-item"><a class="nav-link" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link" href="/iframes">iFrames</a></li>
                </ul>
            </nav>        
        </header>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a> 
                <ul class="nav-menu"> 
                    <li class="nav-menu-item"><a class="nav-link" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"><a class="nav-link" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link" href="/iframes">iFrames</a></li>
                </ul>
            </nav>        
        </header>
        <aside>
            <<h2>Iframes</h2>
            <p>Uso de archivos de multimedia</p>
        </aside>
        <section>
            <h2>Ejemplos</h2>
            <article>
                <h3>Sitio Web interno</h3>
                <p>No usar en banca</p>
                <iframe src ="https://ufidelitas.ac.cr"
                        width ="1100"
                        height="400">
                </iframe>
            </article>
            <h3>Youtube</h3>
            <p>Corvette Z06</p>
            <iframe width="935" height="526" src="https://www.youtube.com/embed/YMvfZd34T3g" title="2019 Chevrolet Corvette Z06 (7MT) - POV Driving &amp; Ownership Impressions (Night)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
        <article>
            <<h3>Sitio Web interno</h3>
            <p>No usar en banca</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121510.17354195037!2d-84.24100960273441!3d9.913274799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e54469c695db%3A0xb3e73c81bf090e03!2sSoda%20Donde%20Ma%20CR!5e1!3m2!1ses!2scr!4v1747704155238!5m2!1ses!2scr" width="600" height="450" style="border:0;" allowfullscreen="" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
        <footer>
            TechShop 2025 &COPY; Todos los derechos reservados
        </footer>
    </body>
</html>