<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"> <!-- Set caracteres, ingles, ruso-->
    </head> <!--Encabezado html, cualquier lenguaje-->
    <body> 
        <<h1 style="text-align: center;background-color: blue;color: white">TechShop</h1>
        <a href="/">TechShop</a> | <a href="ejemplo2">Mis autos</a>   <!--Arrastro ejemplo2 de proyectos para hacer hipervinculo, el primero sera a futuro el logo con el /-->
        <<h2> Su tienda en línea</h2> 
        <p>Bienvenidos a la mejor tienda de cualquier producto que desee, aceptamos todo tipo de tarjetas, cero estafas y envíos a todo el país por correos de costa rica</p>


         </body>
</html>
